* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(trythis.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    width: 1120px;
    margin: 0 auto;
    border: 1px solid darkturquoise;
}

.jsjsjs {
    margin-bottom: 20px;
    margin-top: 20px;
}